@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

/*
    Roboto, Poppins
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

*::selection {
    background-color: black;
    color: white;
  }

::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.925);
}

::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.inicio{
    display: flex;

    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 35%;

    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.37);
} #coffee-cup {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.cabecalho{
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;

} .coffee{
    color: white;
    font-weight: 400;
}

nav{
    display: flex;

    align-items: center;

    gap: 2rem;
} .nav-option{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    border: solid 1px rgba(255, 166, 0, 0);
    border-radius: 5%;
    padding: 4px;

    transition: .5s;
} .nav-option:hover{
    color: orange;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;

    border: solid 1px orange;
    border-radius: 5%;
    padding: 5px;

    transition: 1s;
}

.there-is {
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
} b {
    color: orange;
    font-weight: 700;
    font-size: 7rem;
}

.principal{
    display: flex;

    align-items: center;

    background: orange;
    padding-top: 100px;
} .ctn-orange{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 13rem 12rem;

    background: orange;
}.ctn-column{
    display: flex;
    justify-content: center;
    align-items: center;
} .taste{
    color: #32373B;
    font-size: 8rem;
} .lorem{
    font-size: 2rem;
    color: #32373B;

    position: absolute;

    width: 50rem;
    text-align: justify;
} #video2{
    box-shadow: 2px 2px 2px black;
    margin-left: 1rem;
} #order{
    text-decoration: none;
    font-size: 2rem;
    color: #F9FBF2;

    padding: 1.5rem;
    background-color: #32373b00;
    /* border: 2px solid #FE5F55; */
    border: 2px solid white;
    border-radius: 10px;

    transition: .5s;
} #order:hover{
    text-decoration: none;
    font-size: 2rem;
    color: #FE5F55;

    padding: 1.6rem;
    background-color: #32373ba9;
    border: 2px solid #FE5F55;
    /* border: 2px solid white; */
    border-radius: 10px;

    cursor: pointer;

    transition: 1s;
} 

.ctn-alpha{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 0rem;

    /* background-color: rgba(0, 0, 0, 0.651);  */
    /* background-color: rgb(235, 226, 226);  */
    background-color: #F9FBF2;
} .have{
    color: #32373B;

    font-size: 7rem;
}